*{
    font-family: sans-serif;
}
body{
    width: 850px;
    height: 670px;
    background-image: url("images/tail.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left:auto;
    margin-right:auto;
    background-attachment:fixed;
  
}

#user_join_date{

    font-size: 17px;
    text-align: center;
    margin-top:5px;
    text-shadow: 3px 3px black;
}
#user_online{

    color: rgb(2, 104, 24);
    font-size: 17px;
    text-align: center;
    margin-top:5px;
    margin-bottom:10px;
    text-shadow: 3px 3px black;

}
#user_offline{

    color: rgb(104, 6, 2);
    font-size: 17px;
    text-align: center;
    margin-top:5px;
    text-shadow: 3px 3px black;

}
#rang_style_user{
    color: rgb(0, 140, 255);
    font-size: 17px;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 3px 3px black;
}

#rang_style_moderator{
    color: rgb(10, 124, 35);
    font-size: 17px;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 3px 3px black;
}

#rang_style_admin{
    color: rgb(224, 18, 11);
    font-size: 17px;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 3px 3px black;
}
#rang_style_headadmin{
    color: rgb(119, 8, 8);
    font-size: 17px;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 3px 3px black;
}

#info_contener{

    height: 20px;
    width: auto;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -35px;
    border: 4px solid rgb(4, 61, 19);
    background-color: rgb(3, 105, 71);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;


}

#error_contener{

    height: 20px;
    width: auto;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -35px;
    border: 4px solid rgb(61, 20, 20);
    background-color: rgb(92, 21, 21);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;


}

#header{

    font-weight: bolder;
    text-decoration: none;
    height: 35px;
    width: 100%;
    box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    border:3px solid rgb(255, 255, 255);
    background-color:rgb(42, 42, 42); 
    border-radius: 25px;
    margin-bottom: 50px;
    text-align: center;
   
}
#link_contener{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction:row;
    justify-content: space-between
}


.image_header_icon{

    height: 25px;
    margin-top:5px;
}



.image_header_icon:hover{
    height: 29px;
    transition-delay: 0.1s;
    transition-duration: 1s;

}



#user_name_profil_id, #user_birthday_profil_id, #user_email_profil_id{
    margin-left: 50px; 
    margin-top: 30px;
}




#main{
    color:white;
    margin-top:10px;
    font-size: 15px;
    min-height: 550px;
    height: auto;
    width: 850px;
    font-weight: bolder;
    box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.5);
    display:flex;
    border:3px solid rgb(255, 255, 255);
    background-color:rgb(42, 42, 42); 
    border-radius: 25px;
    
    
}


#user_settings_contener,#user_form_contener{

    background-color:rgba(78, 78, 78, 0.198);
    width: 100%;
    height: auto;
    border-radius: 11px; 
    display:flex;
    margin-left: 25px;
    flex-direction: column;

 
}
#user_form_contener{
    background-color: rgba(0, 128, 0, 0);
}

#Link_coody{

    color:lightseagreen;
    text-decoration: none;
    font-size: 22px;
    


}
.inpit_label{

    font-size: 16px;
    color:rgb(202, 202, 202);
    margin-top: 15px;
    margin-left: 25px;
    text-shadow: 3px 3px black;


}

.user_value{
    font-size: 16px;
    color:rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: 50px;
    text-shadow: 3px 3px black;

}
.edit_inputs{

    height: 15px;
    width: 175px;
    background:rgb(0, 0, 0);
    border:3px solid  rgb(95, 101, 131);
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    margin-left: 50px;
    text-align: center;
    display: initial;
}

#user_password_edit,#user_rpassword_edit{
    margin-top: 35px;
}




.edit_inputs:hover{


    border: 3px solid lightcoral;
    transition-delay: 0.1s;
    transition-duration: 1s;
}











#user_left_contener{

    height: auto;
    width: 155px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


#user_photo_profil_id{

    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    border:4px solid lightcoral;
    border-radius: 50px;
    
     
   
}
#user_rangs{
    margin-top: 15px;
    margin-bottom:15px;
    font-weight: bold;
    text-shadow: 2px 2px black;
    
    
}
#user_status{
    margin-top: 15px;
    margin-bottom:15px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

#user_photo_edit{

  margin-left: 50px;
  margin-top: 45px;
  margin-bottom: 30px;
    
}

#edit_button,#save_button{

    background-image: url(images/icon_link/edit.png);
    background-color: black;
    background-size: 20px;
    background-repeat: no-repeat;
    height: 26px;
    width: 125px;
    color: white;
    margin: 15px auto;
    border:3px solid  rgb(95, 101, 131);
    border-radius: 20px;
    text-align: center;
    display: initial;
    cursor: pointer;

}

#edit_button:hover{

    
    border: 3px solid lightcoral;
    transform: scaleX(1.1);
    transition-duration: 1s;
}








#footer{
    font-weight: bolder;
    color:white;
    width: 100%;
    text-align: center;
    box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    border:3px solid rgb(255, 255, 255);
    background-color:rgb(42, 42, 42); 
    border-radius: 25px;
    display:inline-block;
}





