*{

    font-family: sans-serif;
}
#Link_coody{

    color:lightseagreen;
    text-decoration: none;
    font-size: 22px;
    


}
body{

    width: 450px;
    height: 450px;
    background-image: url("images/tail.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top:125px;
    margin-left:auto;
    margin-right:auto;
    background-attachment:fixed;
}

#contener{
    
    color:white;
    margin-top:50px;
    font-size: 25px;
    height: 100%;
    font-weight: bolder;
    box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.5);
    text-align: center;
    border:3px solid rgb(255, 255, 255);
    background-color:rgb(42, 42, 42); 
    border-radius: 25px;
    display:inline-block;
}

#register_box{

    margin: 10px 100px;
    height: 150px;
    width: 200px;
    font-size: 15px;
}

input[name="user_Login"],input[name="user_password"], input[name="user_email"], input[name="user_birth"]{
   
    height: 15px;
    width: 175px;
    background:rgb(0, 0, 0);
    border:3px solid  rgb(95, 101, 131);
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    margin: 5px 15px;
    text-align: center;
    display: initial;
}


input[name="user_Login"]:valid,input[name="user_password"]:valid, input[name="user_email"]:valid, input[name="user_birth"]:valid{
  
    background: rgb(18, 121, 4);
    border: 3px solid lightcoral;
    color:black;
    transform: scaleX(1.1);
    transition-delay: 0.1s;
    transition-duration: 1s;
}

input[name="user_Login"]:invalid,input[name="user_password"]:invalid, input[name="user_email"]:invalid, input[name="user_birth"]:invalid{
   
    background: rgb(121, 8, 4);
    border: 3px solid lightcoral;
    color:black;
    transform: scaleX(1.1);
    transition-delay: 0.1s;
    transition-duration: 1s;
}

input[name="user_Login"]:placeholder-shown,input[name="user_password"]:placeholder-shown, input[name="user_email"]:placeholder-shown, input[name="user_birth"]:invalid{
  
    background:rgb(0, 0, 0);
    border:3px solid  rgb(95, 101, 131);
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    text-align: center;
    display: initial;
    transform: scaleX(1);
    transition-delay: 0.1s;
    transition-duration: 1s;
}




input[name="user_Login"]:hover,input[name="user_password"]:hover, input[name="user_email"]:hover, input[name="user_birth"]:hover{
  
    border: 3px solid lightcoral;
    transition-delay: 0.1s;
    transition-duration: 1s;
}
input[name="user_Login"]:focus,input[name="user_password"]:focus, input[name="user_email"]:focus, input[name="user_birth"]:focus{
  
    background: rgb(56, 56, 56);
    border: 3px solid lightcoral;
    transform: scaleX(1.1);
    transition-delay: 0.1s;
    transition-duration: 1s;;
}

 


input[name="send_register_button"]{

    background:rgb(0, 0, 0);
    height: 25px;
    width: 125px;
    color: white;
    border:3px solid  rgb(95, 101, 131);
    border-radius: 20px;
    text-align: center;
    margin: 5px 15px;
    display: initial;
    cursor: pointer;
}

input[name="send_register_button"]:hover{
  
    background: rgb(56, 56, 56);
    border: 3px solid lightcoral;
    transform: scaleX(1.2);
    transition-duration: 1s;
}
 